// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2021 Arm Ltd.
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "WhatsMiner H616 Control Card";
	compatible = "whatsminer,h616", "allwinner,sun50i-h616";

	aliases {
		ethernet0 = &emac1;
		serial1 = &uart1;
	};

	chosen {
		bootargs = "console=ttyS1,115200 loglevel=8";
		stdout-path = "serial1:115200n8";
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the DC input */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};
};

&{/soc} {
	pwm: pwm@300a000 {
		compatible = "allwinner,sun50i-h616-pwm";
		reg = <0x0300a000 0x400>;
		clocks = <&ccu CLK_BUS_PWM>,
			 <&osc24M>,
			 <&ccu CLK_APB1>;
		clock-names = "bus", "hosc", "apb0";
		resets = <&ccu RST_BUS_PWM>;
		status = "disabled";
		#pwm-cells = <0x3>;
	};

	emac1: ethernet@5030000 {
		compatible = "allwinner,sun50i-h616-emac";
		reg = <0x05030000 0x10000>;
		interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "macirq";
		resets = <&ccu RST_BUS_EMAC1>;
		reset-names = "stmmaceth";
		clocks = <&ccu CLK_BUS_EMAC1>;
		clock-names = "stmmaceth";
		syscon = <&syscon 1>;
		pinctrl-names = "default";
		pinctrl-0 = <&rmii_pins>;
		phy-mode = "rmii";
		status = "disabled";

		mdio1: mdio {
			compatible = "snps,dwmac-mdio";
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&emac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-handle = <&rmii_phy>;
	phy-supply = <&reg_dldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&mmc0 {
	vmmc-supply = <&reg_dldo1>;
	vqmmc-supply = <&reg_aldo1>;
	cd-gpios = <&pio 8 16 GPIO_ACTIVE_LOW>;	/* PI16 */
	bus-width = <4>;
	status = "okay";
};

&mdio1 {
	rmii_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		clocks = <&ccu CLK_EMAC_25M>;
	};
};

&pio {
	vcc-pa-supply = <&reg_dldo1>;
	vcc-pc-supply = <&reg_dldo1>;
	vcc-pe-supply = <&reg_dldo1>;
	vcc-pf-supply = <&reg_dldo1>;
	vcc-pg-supply = <&reg_aldo1>;
	vcc-ph-supply = <&reg_dldo1>;
	vcc-pi-supply = <&reg_dldo1>;

	pwm5_pin: pwm5-pin {
		pins = "PA12";
		function = "pwm5";
		bias-pull-up;
	};

	rmii_pins: rmii-pins {
		pins = "PA0", "PA1", "PA2", "PA3", "PA4",
		       "PA5", "PA6", "PA7", "PA8", "PA9";
		function = "emac1";
		drive-strength = <40>;
	};

	i2c3_pa_pins: i2c3-pa-pins {
		pins = "PA10", "PA11";
		function = "i2c3";
		bias-pull-up;
	};

	i2c3_pa_pins_idle: i2c3-pa-pins-idle {
		pins = "PA10", "PA11";
		function = "gpio_out";
		drive-open-drain;
		bias-pull-up;
		output-high;
	};

	i2c3_ph_pins: i2c3-ph-pins {
		pins = "PH4", "PH5";
		function = "i2c3";
	};
};

&pwm {
	status = "okay";
};

&r_i2c {
	status = "okay";

	axp313: pmic@36 {
		compatible = "x-powers,axp313a";
		reg = <0x36>;
		#interrupt-cells = <1>;
		interrupt-controller;
		//interrupt-parent = <&pio>;
		//interrupts = <2 9 IRQ_TYPE_LEVEL_LOW>;	/* PC9 */

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;

		regulators {
			reg_aldo1: aldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-1v8-pll";
			};

			reg_dldo1: dldo1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-3v3-io";
			};

			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <990000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-dram";
			};
		};
	};
};

&sid {
	ephy_calib: ephy_calib@2c {
		reg = <0x2c 0x2>;
	};
};

&uart1 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

/*
&usbotg {
	dr_mode = "host";
	status = "okay";
};

&usbphy {
	status = "okay";
};
*/
